[Unit]
Description=Flickpapr: Flickr Interestingness Wallpaper Rotator
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/flickloop
ExecStop=/usr/bin/flickill

[Install]
WantedBy=graphical.target
